// Deep and shallow model
:root {
  color-scheme: light dark;

  --textOrigin: 255, 255, 255;

  --text: rgb(var(--textOrigin));
}

@media (prefers-color-scheme: dark) {
  :root {
    --textOrigin: 0, 0, 0;

    --text: rgb(var(--textOrigin));
  }
}
